@use 'base/mixins' as m;
@use 'base/variables' as var;

.no-webp .inicio{
    background-image: url(../img/header.jpg);
}

.webp .inicio{
    background-image: url(../img/header.webp);
}

.header{
    background-color:var.$grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio{
        background-position: center center;
        background-size: cover;
        @include m.tablet{
            min-height: 70rem;
        }
    .contenido_header{
        @include m.tablet{
            min-height: 70rem;
             }
        
        }
    }
    
}
.contenido_header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    h1{
        text-align: left;
        color: var.$blanco;
        font-weight: var.$bold;
        line-height: 2;
        max-width: 60rem;
    
    }
   
}